/* global */

*   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Oxygen, Helvetica, sans-serif;
    scroll-behavior: smooth;
}


/* main content */

#welcome-section    {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    height: 100vh;
    scroll-behavior: smooth;
}

#welcome-section::after   {
    content: '';
    background-image: url(../images/first-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    opacity: 0.3;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100vh;
    width: 100vw;
}

#navbar {
    display: flex;
    flex-wrap: wrap;
    min-height: 10%;
    background-color: dimgray;
    color: white;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}


#navbar h1  {
    width: 100%;
    text-align: center;
    padding: 5px 0;
    font-size: 60px;
}

.menu-link   {
    color: white;
    text-decoration: none;
    padding: 5px 0;
    margin: 5px 0;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
}

.menu-link:hover    {
    color: #d7ba79;
    animation-name: menu-hover;
    animation-duration: 1s;
    animation-timing-function: ease;
}

#nav-links  {
    width: 250px;
    display: flex;
    justify-content: space-between;
}



#welcome-section h2 {
    font-size: 70px;
    font-weight: bold;
}

#welcome-section p  {
    padding: 10px 0;
    font-size: 35px;
    font-weight: 600;
}

#welcome-content    {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 0 20px;
    text-align: center;
    position: relative;
    top: 10%;
}

#projects::after   {
    background-image: url(../images/second-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.3;
}

#projects   {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    position: relative;
    top: 10%;
    flex-wrap: wrap;
}

.project-tile   {
    padding: 0 50px;
    width: 350px;
    min-height: 350px;
    border: 3px solid dimgray;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7));
    position: relative;
    flex-shrink: 1;
    margin: 10px 0;
}

#projects a {
    text-decoration: none;
    font-size: 22px;
    color: white;
    font-weight: 600;
}

.overlay    {
    position: absolute;
    bottom: 100%;
    left: 0;
    top: 0;
    width: 100%;
    height: 0;
    z-index: 0;
    transition: 0.3s ease;
}

.project-tile:hover  .overlay {
    height: 100%;
    bottom: 0;
}

.project-tile:hover p   {
    z-index: 2;
    background-color: black;
    transition: 0.3s ease;
    padding: 10px;
    border-radius: 10px;
}

#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: dimgray;
    font-weight: bold;
    color: white;
    bottom: 0;
    top: 90%;
    position: relative;
}

/* media queries */

@media (max-width: 500px)   {
    #nav-links  {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    #welcome-section    {
        position: relative;
        top: 100px;
    }

    #welcome-section h2 {
        font-size: 40px;
        font-weight: bold;
    }
    
    #welcome-section p  {
        padding: 10px 0;
        font-size: 25px;
        font-weight: 600;
    }
}

/* animations */

@keyframes menu-hover {
    0% {
        bottom: 0px;
    }

    50% {
        bottom: 5px;
    }

    100% {
        bottom: 0px;
    }
}



